body { background-color: #000000ea;
       font-family: 'Merriweather Sans', sans-serif;
       
}
    

div { 
      background-color: #302F3D;
      color: #837E9F;
      margin: 40px;
      border-radius: 20px;
      text-align: center;
}



.profile img {
    border: solid 3px green;
    border-radius: 50%;
    height: 150px;
    margin-top: 25px;
}

.profile {
    background-image: 50%;
    width: 348px;
    height: 292px;
    

}

.links {
    width: 348px;
    height: 348px;
    
   
}

ul { list-style: none;
     padding-top: 13%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap:25px ;}

.tech {
    width: 348px;
    height: 208px;

}

main { 
    display: flex;
    justify-content: center;
      
}


dt { padding: 15px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     size: 14px;
     font-weight: bold;

}


.experience {
    width: 348px;
    height: 349px;
}

.education {
    width: 348px;
    height: 352px;
}

.projects {
    position: absolute;
    width: 952px;
    height: 86px;
    left: 425px;
    top: 1px;

}

.projects1 {
    position: absolute;
    width: 461px;
    height: 186px;
    left: 425px;
    top: 130px;      
}

.projects2 {
    position: absolute;
    width: 461px;
    height: 186px;
    left: 915px;
    top: 130px;
}

.recent-posts {
    position: absolute;
    width: 952px;
    height: 86px;
    left: 425px;
    top: 360px;
}

.post {
    position: absolute;
    width: 952px;
    height:201px;
    left: 425px;
    top: 488px;
}

/*.elements-right {
    position: relative;
    left: 400px;
    bottom: 268vh;
    
}*/

